h3{
    font-size: 28px;
}

.btn-success:hover{
    background-color: brown;
}

canvas{
    animation-name: none_only;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes none_only{
    from {box-shadow: 1px 1px 38px red;}
    to {box-shadow: 1px 1px 38px yellow;}
}